// Navigation code here
.nav {
    background-color: @nav-bg;
    padding-top: 1%;
    
    h1 {
        font-size: 4rem;
        .centered();
    }

    nav {
        display: flex;
        padding: 1.5% 34% .9%;
        .aroundSpace();
    }

        .href {
            font-size: 1.6rem;
            text-decoration: none;
            color: @nav-font;
        }
}