// Navigation code here
.controller {
    .controllerStyle();
}

.nav {
    background-color: @nav-bg;
    padding-top: 1%;
    
    h1 {
        font-size: 4rem;
        display: flex;
        justify-content: center;
    }

    nav {
        display: flex;
        justify-content: space-around;
        padding: 1.5% 34% .9%;
    }

        .href {
            font-size: 1.6rem;
            text-decoration: none;
            color: @nav-font;
        }
}